{% extends "bookdb_base.html" %}

{% block title %}Add_author{% endblock %}

{% block content %}
    <p><h2>Please input the author`s informations!</h2></p>
    <form method="post">
    <table border=1 align="center">
    <tr>
    <th>AuthorID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
    </tr>
    <tr>
    <td><input name="AuthorID" type="text" placeholder="Max_len:100"></td>
    <td><input name="Name" type="text" placeholder="Max_len:30"></td>
    <td><input name="Age" type="text" placeholder="Max_len:30"></td>
    <td><input name="Country" type="text" placeholder="Max_len:100"></td>
    <td><input type="submit" value="save">
        <input type="reset" value="reset">
    </td>
    </tr>
    </table>
    </form>    
    
    {% if add_check %}
        <p style="color: green;">Save successfully !</p>
        
        <p>
        <form action="/bookdb/add_book/" method="get">
        <p><input type="submit" value="Return to add a new book:"></p>
        </form>
        </p>
    {% endif %}
    
    {% if errors %}
        {% for error in errors %}
        <p style="color: red;">{{error}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}