<html>
<head>
    <title>BookDB_hello</title>
    <style type="text/css">
    div#header {background-color:#99bbbb;text-align:center;}
    div#content {background-color:#EEEEEE;height:85%;text-align:center;}
    div#footer {background-color:#99bbbb;clear:both;text-align:center;bottom:0;}
    </style>
</head>
<body>
    <div id="header">
    <h1>Book_DataBase</h1>
    </div>
    
    <div id="content">
    <p style="text-align:center">
    <a href="http://bookdb979.sinaapp.com/bookdb/">Just begin !</a>
    </p>
    </div>
    
    <div id="footer"><hr>Thank you for visting !</div>
</body>
</html>